*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: #fff;
    position: relative;
}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.menu_icon{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block   ;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 5px 2px;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #e7c82f;
}
.row{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    margin: 20px 0px;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}
.text_box{
    max-width: 400px;
    margin-top: 100px;
}
.text_box h5{
    color: #e7c82f;
    text-transform: capitalize;
}
.text_box h1{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 65px;
}
.gallery_box{
    max-width: 400;
    position: relative;
    margin: auto;
}
.gallery_box img{
    width: 80%;
    border: 10px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}
.gallery_box ul{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.gallery_box ul li{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.gallery_box .active{
    color: #e7c82f;
}
.gallery_box ul li::after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
    
}
.gallery_box .active::after{
    background-color: #e7c82f;
}
.small_icon1{
    width: 15px;
    position: absolute;
    right: 200px;
    top: -10px;
    opacity: 0.3;
}
.small_icon2{
    width: 25px;
    position: absolute;
    right: 200px;
    bottom: -100px;
    opacity: 0.3;
}
.small_icon3{
    width: 25px;
    position: absolute;
    right: 50px;
    top: 200px;
    opacity: 0.5;
    transform: rotate(45deg);
}
.small_icon4{
    width: 250px;
    position: absolute;
    top: 120px;
    left: -150px;
    opacity: 0.3;
}
.small_icon5{
    width: 25px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    opacity: 0.3;
}
.active menu{
    color: #e7c82f;
}



/*  Cursor style */

body{
    cursor: grab;
}
#cursor{
    height: 50px;
    width: 50px;
    background-color: #e7c82f;
    border-radius: 50%;
    position: absolute;
    display: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.gallery_box ul{
    z-index: 2;
}
nav ul li a{
    position: relative;
    z-index: 2;
}
.menu_icon{
    position: relative;
    z-index: 2;
}
.logo{
    position: relative;
    z-index: 2;
}
div:hover ~ #cursor{
    transform: scale(0.5);
}


/*  media screen */

@media screen and (max-width: 997px){
    .gallery_box ul{
        right: -80px;
    }
}

@media screen and (max-width: 960px) {
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gallery_box{
        width: 100%;
    }
    .gallery_box img{
        width: 45%;
        margin-top: 50px;
    }
    .gallery_box ul{
        display: flex;
        justify-content: center;
        width: 100%; 
        top: 1%;
        margin-top: 10px;
        right: 0px;
    }
    .text_box{
        margin-top: 0;
    }
    .gallery_box ul li::after{
        content: '';
        width: 30px;
        height: 2px;
        background-color: transparent;
        position: absolute;
        top: 35px;
        left: 25px;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 775px) {
    .row{
        width: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin-left: 20px;
    }
    .logo{
        width: 300px;
        margin-bottom: 20px;
    }
    .menu_icon{
       display: none;
    }
    .text_box{
        margin-top: 0;
    }
    .col:nth-child(1){
        margin: auto;
    }
    .col:nth-child(2){
        margin: auto;
        width: 85%;
    }
    .gallery_box{
        width: 100%;
        margin: auto;
    }
    .gallery_box img{
        width: 63%;
    }
    .gallery_box ul{
        display: flex;
        width: 100%;
        margin: auto; 
        top: 1%;
        margin-top: 10px;
        right: 0;
    }
}

@media screen and (max-width: 380px) {
   .text_box h1{
    font-size: 40px;
    line-height: 40px;
   }
}

@media screen and (max-width: 280px) {
    .row{
        width: 100%;
    }
    .text_box h1{
        font-size: 30px;
    }
    .col{
        margin: 0;
        min-width: 0;
    }
    .logo{
        width: 200px;
    }
    nav{
        text-align: center;
    }
    nav ul li{
        margin-left: 10px;
    }
    .gallery_box ul li{
        padding: 0px 10px;
    }
    .gallery_box ul li::after{
        content: '';
        width: 30px;
        height: 2px;
        background-color: transparent;
        position: absolute;
        top: 35px;
        left: 5px;
        transform: rotate(90deg);
    }
}